---
# file: group_vars/development.yml
elastic_search: 
  - tarball: elasticsearch-1.7.2.tar.gz
    filename: elasticsearch-1.7.2
    download_base_url: "https://download.elastic.co/elasticsearch/elasticsearch"
    download_dest_dir: /usr/local/src
    dir: /opt
    init_script_src: etc/init.d/elasticsearch.j2
    init_script_dest: /etc/init.d/elasticsearch
es_heap_size: "1g"
es_java_opts: "-Xms512m -Xmx512m -XX:NewRatio=3"

kibana:
  - tarball: kibana-4.1.2-linux-x64.tar.gz
    filename: kibana-4.1.2-linux-x64
    download_base_url: "https://download.elastic.co/kibana/kibana"
    download_dest_dir: /usr/local/src
    dir: /opt
    init_script_src: etc/init.d/kibana
    init_script_dest: /etc/init.d/kibana
    log_dir: /var/log/kibana
    log_file: kibana.log

fluentd:
  - install_script_url: https://toolbelt.treasuredata.com/sh/install-redhat-td-agent2.sh
    download_dest_dir: /usr/local/src
    install_script: install-redhat-td-agent2.sh

nginx:
  rpm: http://nginx.org/packages/centos/6/noarch/RPMS/nginx-release-centos-6-0.el6.ngx.noarch.rpm
  version: 1.8.0
  conf_src: nginx.conf.j2
  conf_dest: /etc/nginx/nginx.conf
  confd_src: conf.d/default.conf.j2
  confd_dest: /etc/nginx/conf.d/default.conf
