---
# file roles/elasticsearch/tasks/main.yml
- name: be sure Java1.7 openjdk installed.
  sudo: yes
  yum: name=java-1.7.0-openjdk state=latest
  tags: elasticsearch

- name: check {{ item.download_dest_dir }}.
  sudo: yes
  file: path={{ item.download_dest_dir }} state=directory
  tags: elasticsearch
  with_items:
    elastic_search

- name: download ElasticSearch 1.7.2 tarball.
  sudo: yes
  get_url: >
      url={{ item.download_base_url }}/{{ item.tarball }}
      dest={{ item.download_dest_dir }}/{{ item.tarball }}
  with_items: elastic_search_tar
  tags: elasticsearch
  with_items:
    elastic_search

- name: unarchive elastic search
  sudo: yes
  unarchive: >
        src={{item.download_dest_dir }}/{{ item.tarball }}
        dest={{ item.dir}}
        creates=no
        copy=no
  with_items:
    elastic_search
  tags: elasticsearch

- name: Create symlink /opt/elasticsearch -> elasticsearch-1.7.2
  sudo: yes
  file: >
        src={{ item.dir }}/{{item.filename}}
        dest={{ elastic_search_dir }}/elasticsearch
        state=link
        mode=0755
        force=yes
  with_items:
    elastic_search
  tags: elasticsearch

- name: Add init script /etc/init.d/elasticsearch
  sudo: yes
  copy: >
    src={{ item.init_script_src }}
    dest={{ item.init_script_dest }}
    mode=0755
  with_items:
    elastic_search
  tags: elasticsearch
