---
# file: roles/fluentd/tasks/main.yml
# See: http://docs.fluentd.org/articles/install-by-rpm
- name: install ntp, libcurl-devel
  sudo: yes
  yum: pkg={{ item }} state=installed
  with_items:
    - ntp
    - libcurl-devel
  tags: fluentd

- name: ulimit -n.
  sudo: yes
  shell: ulimit -n
  register: ulimit_for_fluentd
  ignore_errors: True
  changed_when: False
  tags: fluentd

- name: is ulimit -n is 65536
  sudo: yes
  lineinfile:
    backup: yes
    dest: /etc/security/limits.conf
    insertbefore: "{{ item.insertbefore }}"
    line: "{{ item.line }}"
  with_items:
    - { insertbefore: "# End of file", line: "root soft nofile 65536" }
    - { insertbefore: "# End of file", line: "root hard nofile 65536" }
    - { insertbefore: "# End of file", line: "* soft nofile 65536" }
    - { insertbefore: "# End of file", line: "* hard nofile 65536" }
  when: ulimit_for_fluentd.stdout.find('65536') != 0
  tags: fluentd

- name: Optimize Network Kernel Parameters
  sudo: yes
  lineinfile:
    backup: yes
    dest: /etc/sysctl.conf
    line: "{{ item.line }}"
  with_items:
    - { line: "# fluentd settings." }
    - { line: "net.ipv4.tcp_tw_recycle = 1" }
    - { line: "net.ipv4.tcp_tw_reuse = 1" }
    - { line: "net.ipv4.ip_local_port_range = 10240    65535" }
  register: changed_kernel_parameters
  tags: fluentd

- name: reboot OS
  sudo: yes
  command: shutdown -r now
  when: changed_kernel_parameters.changed == True
  tags: fluentd

- name: wait for SSH port down
  local_action: wait_for host={{ inventory_hostname }} port=22 state=stopped
  when: changed_kernel_parameters.changed == True
  register: wait_for_SSH_port_down
  tags: fluentd

- name: wait for SSH port up
  local_action: wait_for host={{ inventory_hostname }} port=22 delay=30
  when: changed_kernel_parameters.changed == True
  tags: fluentd

- name: test connection
  ping:
  tags: fluentd

# 
# - name: download install script.
#   sudo: yes
#   get_url: >
#       url={{ item.install_script_url }}
#       dest={{ item.download_dest_dir }}
#   with_items:
#     fluentd
#   tags: fluentd
# 
# - name: install fluentd.
#   sudo: yes
#   command:
#     sh {{ item.download_dest_dir }}/{{ item.install_script }}
#   with_items:
#     fluentd
#   tags: fluentd
# 
# - name: mkdir /var/lib/fluent
#   sudo: yes
#   file: >
#     path={{ item.pos_file_dir }}
#     state=directory
#     owner=td-agent
#     group=td-agent
#     mode=0755
#   with_items:
#     fluentd
#   tags: fluentd
# 
# - name: create pos_file.
#   sudo: yes
#   file: >
#     path={{ item.pos_file_dir }}/{{ item.nginx_pos_file }}
#     state=file
#     owner=td-agent
#     group=td-agent
#   with_items:
#     fluentd
#   tags: fluentd
# 
# - name: put td-agent.conf.
#   sudo: yes
#   template: >
#     src={{ item.conf_src }}
#     dest={{ item.conf_dest }}
#   with_items:
#     fluentd
#   tags: fluentd
# 
# - name: install plugin config_expander
#   sudo: yes
# 
# 
# - name: chkconig -add td-agent
#   sudo: yes
#   command: chkconfig --add td-agent
#   tags: fluentd
# 
# - name: restart td-agent
#   sudo: yes
#   service: name=td-agent state=restarted enabled=yes
#   tags: fluentd
