---
# file: roles/kibana/tasks/main.yml
- name: download Kibana 4.1.2 tarball.
  sudo: yes
  get_url: >
      url={{ item.download_base_url}}/{{item.tarball}}
      dest={{ item.download_dest_dir}}/{{item.tarball}}
  with_items:
    kibana
  tags: kibana

- name: unarchive kibana
  sudo: yes
  unarchive: >
        src={{item.download_dest_dir }}/{{ item.tarball }}
        dest={{ item.dir}}
        creates=no
        copy=no
  with_items:
    kibana
  tags: kibana

- name: Create symlink /opt/kibana -> kibana-4.1.2-linux-x64
  sudo: yes
  file: >
        src={{ item.dir }}/{{item.filename}}
        dest={{ item.dir }}/kibana
        state=link
        mode=0755
        force=yes
  with_items:
    kibana
  tags: kibana

- name: Create log file.
  sudo: yes
  file: >
    path={{ item.log_dir }}
    state=directory
    mode=0755
    owner=root
    group=root
  with_items:
    kibana
  tags: kibana

- name: place on init.d script.
  sudo: yes
  file: >
    src={{ item.init_script_src }}
    dest={{ item.init_script_dest }}
    mode=0755
  with_items:
    kibana
  tags: kibana

- name: Run Kibana
  sudo: yes
  command: >
    sudo {{ item.init_script_dest }} start
  with_items:
    kibana
  tags: kibana
